<h1>Cats#_form</h1>

<% if action == :edit %>


<form action="<%= cat_url(cat.id) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Name:
    <input name="cat[name]" type="text" value="<%= cat.name %>">
  </label>
  <br>
  <label>Sex:
    M<input name="cat[sex]" type="radio" value="M" <%= (cat.sex == "M" ? "checked" : "") %>>
    F<input name="cat[sex]" type="radio" value="F" <%= (cat.sex == "F" ? "checked" : "") %>>
  </label>
  <br>
  <label>Color:
    <select name="cat[color]">
      <option disabled selected>--select a color--</option>
      <%= @COLORS.each do |color| %>
        <option value="<%= color %>" <%= (cat.color == color ? "selected" : "") %>><%= color %></option>
      <% end %>
    </select>
  </label>
  <br>
  <label>Birthdate:
    <input type ="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  </label>
  <br>
  <label>Description:
    <textarea name="cat[description]"><%= cat.description %></textarea>
  </label>
  <input type="submit" value="edit cat">
</form>