<h1>Cats#index</h1>
<p>Find me in app/views/cats/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th> birthday </th>
      <th> color </th>
      <th> name </th>
      <th> sex </th>
      <th> description </th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.birth_date %></td>
        <td><%= cat.color %></td>
        <td><%= cat.name %></td>
        <td><%= cat.sex %></td>
        <td><%= cat.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>